include test/__init__.py
include examples/plots/README.md
include examples/plots/*.py
include examples/plots/figs/*.png
include examples/emnist/README.md
include examples/emnist/*.py
include examples/emnist/figs/*.png
